extends head

block title
  |Ocoreu um erro inesperado!

block body
  div(style="height:15%")
  div.panel.panel-default.col-md-6.col-md-offset-3
    .panel-body
      .text-center
        img(src="/image/404.png")
      h1 Pagina não encontrada.
